<!-- neww -->
{% extends 'index.html' %}

{% block content %}
<a href="{% url 'profes' %}">Profesores</a>
<p>Bienvenidos a la paginas Students</p>
<!-- {% include "head/header.html" %} -->
<h1>Alumnos</h1>
{% for al in als %}
<div>
    <div> 
        <label>Nombre:</label> {{ al.nombre }}
    </div>
    <div> 
        <label>Apellidos:</label> {{ al.apellido }}
    </div>
    <div> 
        <label>Edad:</label> {{ al.año }}
    </div>
    <a href="{% url 'alumno' al.id %}">Ver</a> 
</div></br>
{% endfor %}
{% endblock %}